<!doctype html>
<html>
{{head}}
<body class="">
  <h1>
    <img src="{{url}}assets/images/logo_fisio.png" alt="I'm Yeoman"
     style="vertical-align: bottom;45px; height:45px;"/> &nbsp;&nbsp;{{title}}
    <span style="float: right;font-size:12px; color: #777"></span>
   </h1>
  <hr/>
  <br></br>
  <div class="line">
    <div style="width: 50%;float: left;">
      <p><label style="font-weight: bold;">Periódo: </label> {{ start }} até {{ end }}</p>
    </div>
    <div style="width: 50%;float: left;">
      <p><label style="font-weight: bold;">Total: </label> {{ totalProcedimentos }}</p>
    </div>
    <div style="width: 50%;float: left;">
      <p><label>&nbsp;</label></p>
    </div>
    <div style="width: 50%;float: left;">
      <p><label style="font-weight: bold;">Convêncio Externo: </label> {{ externo }}</p>
    </div>
    <div style="width: 50%;float: left;">
      <p><label>&nbsp;</label></p>
    </div>
    <div style="width: 50%;float: left;">
      <p><label style="font-weight: bold;">Convêncio Interno: </label> {{ interno }}</p>
    </div>
  </div>
  <br></br>
  <br></br>
  <h2>{{message}}</h2>
  <hr/>

  <table cellpadding="4" cellspacing="3" class="body">
    <tr>
      <th></th>
      <th>Procedimento</th>
      <th class="align-right" >Total</th>
    </tr>
    <% _.forEach(events, function(event, index) { %>
      <tr>
        <td><b><%- event._id %></b></td>
        <td></td>
        <td class="align-right"><b><%- event.quant %></b></td>
      </tr>
      <% _.forEach(event.procedimentos, function(proce, index) { %>
        <tr>
          <td></td>
          <td><small><%- proce.title %></small></td>
          <td class="align-right"><small><%- proce.quant %></small></td>
        </tr>
      <% }); %>
    <% }); %>
  </table>
</body>
</html>
